#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(54, 255, 255, 0.925);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsla(207, 69%, 60%, 0.87);
}
button:active{
 background-color: hsla(207, 79%, 70%, 0.87);   
}
input{
    font-size: 2rem;
    width:150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}
